{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[a-zA-Z]", "^[./]", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSortSpecifiers": true,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 75,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
